In [60]:
import pandas as pd
from datetime import datetime

In [73]:
import requests
import pandas as pd
from io import StringIO

years = [2324, 2223, 2122, 2021, 1920, 1819, 1718, 1617, 1516, 1415]
leagues = ['E0', 'E1', 'E2']

# Initialize an empty list to store dataframes
all_data = []

for year in years:
    for league in leagues:
        url = f'https://www.football-data.co.uk/mmz4281/{year}/{league}.csv'
        print(f"Fetching data from {url}")
        
        try:
            # Send a GET request to fetch the raw CSV data
            response = requests.get(url)
            response.raise_for_status()  # Check that the request was successful

            # Read the CSV data into a DataFrame
            data = pd.read_csv(StringIO(response.text))

            # Add a column to track the year and league
            data['Year'] = year
            data['League'] = league

            # Append the dataframe to the list
            all_data.append(data)

        except requests.exceptions.RequestException as e:
            print(f"Failed to fetch data for {year} {league}: {e}")

# Concatenate all dataframes into one
combined_data = pd.concat(all_data, ignore_index=True)

# Display the first few rows of the combined DataFrame
print(combined_data.head())

Fetching data from https://www.football-data.co.uk/mmz4281/2324/E0.csv
Fetching data from https://www.football-data.co.uk/mmz4281/2324/E1.csv
Fetching data from https://www.football-data.co.uk/mmz4281/2324/E2.csv
Fetching data from https://www.football-data.co.uk/mmz4281/2223/E0.csv
Fetching data from https://www.football-data.co.uk/mmz4281/2223/E1.csv
Fetching data from https://www.football-data.co.uk/mmz4281/2223/E2.csv
Fetching data from https://www.football-data.co.uk/mmz4281/2122/E0.csv
Fetching data from https://www.football-data.co.uk/mmz4281/2122/E1.csv
Fetching data from https://www.football-data.co.uk/mmz4281/2122/E2.csv
Fetching data from https://www.football-data.co.uk/mmz4281/2021/E0.csv
Fetching data from https://www.football-data.co.uk/mmz4281/2021/E1.csv
Fetching data from https://www.football-data.co.uk/mmz4281/2021/E2.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1920/E0.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1920/E1.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1920/E2.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1819/E0.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1819/E1.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1819/E2.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1718/E0.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1718/E1.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1718/E2.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1617/E0.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1617/E1.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1617/E2.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1516/E0.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1516/E1.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1516/E2.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1415/E0.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1415/E1.csv
Fetching data from https://www.football-data.co.uk/mmz4281/1415/E2.csv
  Div        Date   Time     HomeTeam       AwayTeam  FTHG  FTAG FTR  HTHG  \
0  E0  11/08/2023  20:00      Burnley       Man City   0.0   3.0   A   0.0
1  E0  12/08/2023  12:30      Arsenal  Nott'm Forest   2.0   1.0   H   2.0
2  E0  12/08/2023  15:00  Bournemouth       West Ham   1.0   1.0   D   0.0
3  E0  12/08/2023  15:00     Brighton          Luton   4.0   1.0   H   1.0
4  E0  12/08/2023  15:00      Everton         Fulham   0.0   1.0   A   0.0

   HTAG  ... BbMxAHH BbAvAHH  BbMxAHA  BbAvAHA  LBH  LBD  LBA  SJH  SJD  SJA
0   2.0  ...     NaN     NaN      NaN      NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   0.0  ...     NaN     NaN      NaN      NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   0.0  ...     NaN     NaN      NaN      NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   0.0  ...     NaN     NaN      NaN      NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   0.0  ...     NaN     NaN      NaN      NaN  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 132 columns]

In [ ]:
 # try:
       
    'datasets'
        data1_20192020 = pd.read_csv(r'datasets\football\2019-2020\E0.csv')
        data2_20192020 = pd.read_csv(r'datasets\football\2019-2020\E1.csv')
        data3_20192020 = pd.read_csv(r'datasets\football\2019-2020\E2.csv')
        
        data1_20202021 = pd.read_csv(r'datasets\football\2020-2021\E0.csv')
        data2_20202021 = pd.read_csv(r'datasets\football\2020-2021\E1.csv')
        data3_20202021 = pd.read_csv(r'datasets\football\2020-2021\E2.csv')
        
        data1_20212022 = pd.read_csv(r'datasets\football\2021-2022\E0.csv')
        data2_20212022 = pd.read_csv(r'datasets\football\2021-2022\E1.csv')
        data3_20212022 = pd.read_csv(r'datasets\football\2021-2022\E2.csv')
        
        data1_20222023 = pd.read_csv(r'datasets\football\2022-2023\E0.csv')
        data2_20222023 = pd.read_csv(r'datasets\football\2022-2023\E1.csv')
        data3_20222023 = pd.read_csv(r'datasets\football\2022-2023\E2.csv')
        
        data1_20232024 = pd.read_csv(r'datasets\football\2023-2024\E0.csv')
        data2_20232024 = pd.read_csv(r'datasets\football\2023-2024\E1.csv')
        data3_20232024 = pd.read_csv(r'datasets\football\2023-2024\E2.csv')
        
               
        print('All Data extracted successfully')
    except Exception as e:
        print(f'An error occured:{e}')

In [75]:
combined_data[combined_data['Time'].isnull()]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,LBH,LBD,LBA,SJH,SJD,SJA
7268,E0,10/08/2018,NaN,Man United,Leicester,2.0,1.0,H,1.0,0.0,...,1.75,1.70,2.29,2.21,NaN,NaN,NaN,NaN,NaN,NaN
7269,E0,11/08/2018,NaN,Bournemouth,Cardiff,2.0,0.0,H,1.0,0.0,...,2.20,2.13,1.80,1.75,NaN,NaN,NaN,NaN,NaN,NaN
7270,E0,11/08/2018,NaN,Fulham,Crystal Palace,0.0,2.0,A,0.0,1.0,...,2.18,2.11,1.81,1.77,NaN,NaN,NaN,NaN,NaN,NaN
7271,E0,11/08/2018,NaN,Huddersfield,Chelsea,0.0,3.0,A,0.0,2.0,...,1.84,1.80,2.13,2.06,NaN,NaN,NaN,NaN,NaN,NaN
7272,E0,11/08/2018,NaN,Newcastle,Tottenham,1.0,2.0,A,1.0,2.0,...,2.20,2.12,1.80,1.76,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14686,E2,03/05/15,NaN,Milton Keynes Dons,Yeovil,5.0,1.0,H,4.0,0.0,...,1.78,1.74,2.19,2.12,1.20,6.5,13.00,NaN,NaN,NaN
14687,E2,03/05/15,NaN,Oldham,Peterboro,1.0,1.0,D,1.0,0.0,...,1.96,1.89,1.96,1.91,2.50,3.4,2.70,NaN,NaN,NaN
14688,E2,03/05/15,NaN,Port Vale,Fleetwood Town,1.0,2.0,A,0.0,2.0,...,1.87,1.83,2.07,2.00,2.15,3.4,3.25,NaN,NaN,NaN
14689,E2,03/05/15,NaN,Sheffield United,Chesterfield,1.0,1.0,D,1.0,0.0,...,1.99,1.90,1.99,1.92,2.20,3.4,3.20,NaN,NaN,NaN
14690,E2,03/05/15,NaN,Swindon,Leyton Orient,2.0,2.0,D,0.0,1.0,...,1.98,1.91,1.98,1.91,2.55,3.4,2.70,NaN,NaN,NaN

In [74]:
combined_data

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,LBH,LBD,LBA,SJH,SJD,SJA
0,E0,11/08/2023,20:00,Burnley,Man City,0.0,3.0,A,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2.0,1.0,H,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1.0,1.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/08/2023,15:00,Brighton,Luton,4.0,1.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,12/08/2023,15:00,Everton,Fulham,0.0,1.0,A,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14686,E2,03/05/15,NaN,Milton Keynes Dons,Yeovil,5.0,1.0,H,4.0,0.0,...,1.78,1.74,2.19,2.12,1.20,6.5,13.00,NaN,NaN,NaN
14687,E2,03/05/15,NaN,Oldham,Peterboro,1.0,1.0,D,1.0,0.0,...,1.96,1.89,1.96,1.91,2.50,3.4,2.70,NaN,NaN,NaN
14688,E2,03/05/15,NaN,Port Vale,Fleetwood Town,1.0,2.0,A,0.0,2.0,...,1.87,1.83,2.07,2.00,2.15,3.4,3.25,NaN,NaN,NaN
14689,E2,03/05/15,NaN,Sheffield United,Chesterfield,1.0,1.0,D,1.0,0.0,...,1.99,1.90,1.99,1.92,2.20,3.4,3.20,NaN,NaN,NaN
14690,E2,03/05/15,NaN,Swindon,Leyton Orient,2.0,2.0,D,0.0,1.0,...,1.98,1.91,1.98,1.91,2.55,3.4,2.70,NaN,NaN,NaN

In [30]:
data1_20192020 = pd.read_csv(r'datasets\football\2019-2020\E0.csv')
data2_20192020 = pd.read_csv(r'datasets\football\2019-2020\E1.csv')
data3_20192020 = pd.read_csv(r'datasets\football\2019-2020\E2.csv')

In [38]:
data1_20202021 = pd.read_csv(r'datasets\football\2020-2021\E0.csv')
data2_20202021 = pd.read_csv(r'datasets\football\2020-2021\E1.csv')
data3_20202021 = pd.read_csv(r'datasets\football\2020-2021\E2.csv')

In [34]:
data1_20212022 = pd.read_csv(r'datasets\football\2021-2022\E0.csv')
data2_20212022 = pd.read_csv(r'datasets\football\2021-2022\E1.csv')
data3_20212022 = pd.read_csv(r'datasets\football\2021-2022\E2.csv')

In [36]:
data1_20222023 = pd.read_csv(r'datasets\football\2022-2023\E0.csv')
data2_20222023 = pd.read_csv(r'datasets\football\2022-2023\E1.csv')
data3_20222023 = pd.read_csv(r'datasets\football\2022-2023\E2.csv')

In [37]:
data1_20232024 = pd.read_csv(r'datasets\football\2023-2024\E0.csv')
data2_20232024 = pd.read_csv(r'datasets\football\2023-2024\E1.csv')
data3_20232024 = pd.read_csv(r'datasets\football\2023-2024\E2.csv')

In [57]:
df_20192020 = pd.concat([data1_20192020, data2_20192020, data3_20192020])
df_20202021 = pd.concat([data1_20202021, data1_20202021, data1_20202021])
df_20212022 = pd.concat([data1_20212022, data2_20212022, data3_20212022])
df_20222023 = pd.concat([data1_20222023, data2_20222023, data3_20222023])
df_20232024 = pd.concat([data1_20232024, data2_20232024, data3_20232024])

In [45]:
df_final = pd.concat([df_20192020, df_20202021, df_20212022, df_20222023, df_20232024])

In [46]:
df_final

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,27/04/2024,12:30,Reading,Blackpool,3,2,H,1,1,...,2.25,0.50,1.90,1.95,1.90,1.99,1.91,2.10,1.83,1.96
548,E2,27/04/2024,12:30,Shrewsbury,Leyton Orient,1,3,A,0,2,...,1.74,-0.25,2.00,1.85,2.04,1.86,2.25,1.86,2.06,1.76
549,E2,27/04/2024,12:30,Stevenage,Cheltenham,2,1,H,1,0,...,1.77,0.00,1.85,2.00,1.86,2.03,1.89,2.09,1.85,1.97
550,E2,27/04/2024,12:30,Wigan,Bristol Rvs,2,0,H,1,0,...,2.03,-0.25,1.83,2.03,1.83,2.07,1.85,2.07,1.80,2.01
551,E2,27/04/2024,12:30,Wycombe,Charlton,1,0,H,1,0,...,2.11,-0.25,2.03,1.83,2.03,1.86,2.11,1.90,2.01,1.80

In [47]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6924 entries, 0 to 551
Columns: 106 entries, Div to AvgCAHA
dtypes: float64(82), int64(16), object(8)
memory usage: 5.7+ MB

In [48]:
df_final2 = df_final[['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam','FTHG', 'FTAG']]

In [49]:
df_final2.isnull().sum()

Div         0
Date        0
Time        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
dtype: int64

In [50]:
df_final2['Date'].dtypes

dtype('O')

In [58]:
df_final2.head()

  Div       Date            Time        HomeTeam     AwayTeam  FTHG  FTAG
0  E0 2020-09-12 0 days 12:30:00          Fulham      Arsenal     0     3
1  E0 2020-09-12 0 days 15:00:00  Crystal Palace  Southampton     1     0
2  E0 2020-09-12 0 days 17:30:00       Liverpool        Leeds     4     3
3  E0 2020-09-12 0 days 20:00:00        West Ham    Newcastle     0     2
4  E0 2020-09-13 0 days 14:00:00       West Brom    Leicester     0     3

In [90]:
data2_20192020.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E1,02/08/2019,19:45,Luton,Middlesbrough,3,3,D,2,2,...,1.79,-0.25,1.94,1.96,1.96,1.96,1.98,1.98,1.94,1.93
1,E1,03/08/2019,15:00,Barnsley,Fulham,1,0,H,1,0,...,2.13,0.25,2.04,1.86,2.05,1.87,2.07,1.88,2.02,1.84
2,E1,03/08/2019,15:00,Blackburn,Charlton,1,2,A,0,1,...,1.84,-0.75,1.88,2.02,1.91,2.01,1.94,2.02,1.89,1.98
3,E1,03/08/2019,15:00,Brentford,Birmingham,0,1,A,0,1,...,1.93,-0.50,2.00,1.90,2.01,1.91,2.01,1.96,1.96,1.90
4,E1,03/08/2019,15:00,Millwall,Preston,1,0,H,1,0,...,1.66,-0.25,2.11,1.79,2.12,1.81,2.13,1.87,2.08,1.80

In [91]:
data2_20192020['Time'] = pd.to_datetime(data2_20192020['Time']).dt.time

C:\Users\gregs\AppData\Local\Temp\ipykernel_93368\495800863.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data2_20192020['Time'] = pd.to_datetime(data2_20192020['Time']).dt.time

In [92]:
data2_20192020['Time']

0      19:45:00
1      15:00:00
2      15:00:00
3      15:00:00
4      15:00:00
         ...
547    19:30:00
548    19:30:00
549    19:30:00
550    19:30:00
551    19:30:00
Name: Time, Length: 552, dtype: object

In [85]:
date_formats = ["%d/%m/%Y", "%m/%d/%Y", "%Y-%m-%d"]

def parse_date(date_string):
    for fmt in date_formats:
        try:
            return datetime.strptime(date_string, fmt)
        except ValueError:
            continue
    return pd.NaT  # Return NaT if no format matches


df_final2['Date'] = df_final2['Date'].apply(parse_date)

TypeError: strptime() argument 1 must be str, not Timestamp

In [87]:
# Function to convert time strings to timedelta
def convert_to_timedelta(time_string):
    hours, minutes = map(int, time_string.split(':'))
    return pd.Timedelta(hours=hours, minutes=minutes)

# Apply the function to the 'Time' column
df_final2['Time'] = df_final2['Time'].apply(convert_to_timedelta)

C:\Users\gregs\AppData\Local\Temp\ipykernel_93368\2238443517.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final2['Time'] = df_final2['Time'].apply(convert_to_timedelta)

In [88]:
df_final2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6924 entries, 0 to 551
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       6924 non-null   object
 1   Date      6924 non-null   datetime64[ns]
 2   Time      6924 non-null   timedelta64[ns]
 3   HomeTeam  6924 non-null   object
 4   AwayTeam  6924 non-null   object
 5   FTHG      6924 non-null   int64
 6   FTAG      6924 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(3), timedelta64[ns](1)
memory usage: 432.8+ KB

In [71]:
df_final2.to_csv('goalbet.csv', index=False)

In [84]:
df_final2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6924 entries, 0 to 551
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       6924 non-null   object
 1   Date      6924 non-null   datetime64[ns]
 2   Time      6924 non-null   object
 3   HomeTeam  6924 non-null   object
 4   AwayTeam  6924 non-null   object
 5   FTHG      6924 non-null   int64
 6   FTAG      6924 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 432.8+ KB

In [83]:
df_final2.head()

  Div       Date   Time        HomeTeam     AwayTeam  FTHG  FTAG
0  E0 2020-09-12  12:30          Fulham      Arsenal     0     3
1  E0 2020-09-12   15:0  Crystal Palace  Southampton     1     0
2  E0 2020-09-12  17:30       Liverpool        Leeds     4     3
3  E0 2020-09-12   20:0        West Ham    Newcastle     0     2
4  E0 2020-09-13   14:0       West Brom    Leicester     0     3

In [89]:
df_final2['Time'] = pd.to_timedelta(df_final2['Time']).dt.components['hours'].astype(str) + ':' + pd.to_timedelta(df_final2['Time']).dt.components['minutes'].astype(str)

    Div       Date   Time        HomeTeam       AwayTeam  FTHG  FTAG
0    E0 2020-09-12  12:30          Fulham        Arsenal     0     3
1    E0 2020-09-12   15:0  Crystal Palace    Southampton     1     0
2    E0 2020-09-12  17:30       Liverpool          Leeds     4     3
3    E0 2020-09-12   20:0        West Ham      Newcastle     0     2
4    E0 2020-09-13   14:0       West Brom      Leicester     0     3
..   ..        ...    ...             ...            ...   ...   ...
547  E2 2024-04-27  12:30         Reading      Blackpool     3     2
548  E2 2024-04-27  12:30      Shrewsbury  Leyton Orient     1     3
549  E2 2024-04-27  12:30       Stevenage     Cheltenham     2     1
550  E2 2024-04-27  12:30           Wigan    Bristol Rvs     2     0
551  E2 2024-04-27  12:30         Wycombe       Charlton     1     0

[6924 rows x 7 columns]

C:\Users\gregs\AppData\Local\Temp\ipykernel_93368\2847128402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final2['Time'] = pd.to_timedelta(df_final2['Time']).dt.components['hours'].astype(str) + ':' + pd.to_timedelta(df_final2['Time']).dt.components['minutes'].astype(str)

In [78]:
# Example dataframe creation for demonstration
import pandas as pd

df = pd.DataFrame(df_final2)

# Total goals scored by each team (Home and Away)
total_home_goals = df.groupby('HomeTeam')['FTHG'].sum().rename('TotalHomeGoals')
total_away_goals = df.groupby('AwayTeam')['FTAG'].sum().rename('TotalAwayGoals')

# Total goals conceded by each team (Home and Away)
total_home_conceded = df.groupby('HomeTeam')['FTAG'].sum().rename('TotalHomeConceded')
total_away_conceded = df.groupby('AwayTeam')['FTHG'].sum().rename('TotalAwayConceded')

# Total goals in each division
total_goals_per_div = df.groupby('Div').apply(lambda x: x['FTHG'].sum() + x['FTAG'].sum()).rename('TotalGoals')

# Number of matches played by each team
matches_played_home = df['HomeTeam'].value_counts().rename('MatchesPlayedHome')
matches_played_away = df['AwayTeam'].value_counts().rename('MatchesPlayedAway')

# Average goals scored per match
avg_home_goals = df.groupby('HomeTeam')['FTHG'].mean().rename('AvgHomeGoals')
avg_away_goals = df.groupby('AwayTeam')['FTAG'].mean().rename('AvgAwayGoals')

# Combine all results into a single dataframe for better visibility
team_stats = pd.DataFrame({
    'TotalHomeGoals': total_home_goals,
    'TotalAwayGoals': total_away_goals,
    'TotalHomeConceded': total_home_conceded,
    'TotalAwayConceded': total_away_conceded,
    'MatchesPlayedHome': matches_played_home,
    'MatchesPlayedAway': matches_played_away,
    'AvgHomeGoals': avg_home_goals,
    'AvgAwayGoals': avg_away_goals
}).fillna(0)  # Fill NaN values with 0 for teams that only played home or away

print(team_stats)
print(total_goals_per_div)

               TotalHomeGoals  TotalAwayGoals  TotalHomeConceded  \
AFC Wimbledon              45              43                 52
Accrington                101              47                 99
Arsenal                   232             228                142
Aston Villa               226             173                186
Barnsley                  130             114                119
...                       ...             ...                ...
West Brom                 206             192                236
West Ham                  218             192                166
Wigan                     116             124                 98
Wolves                    149             114                175
Wycombe                   136             103                 98

               TotalAwayConceded  MatchesPlayedHome  MatchesPlayedAway  \
AFC Wimbledon                 75                 41                 40
Accrington                   111                 63                 64
Arsenal                      134                133                133
Aston Villa                  159                133                133
Barnsley                     134                 92                 92
...                          ...                ...                ...
West Brom                    258                168                168
West Ham                     202                133                133
Wigan                        123                 92                 92
Wolves                       199                133                133
Wycombe                       99                 87                 85

               AvgHomeGoals  AvgAwayGoals
AFC Wimbledon      1.097561      1.075000
Accrington         1.603175      0.734375
Arsenal            1.744361      1.714286
Aston Villa        1.699248      1.300752
Barnsley           1.413043      1.239130
...                     ...           ...
West Brom          1.226190      1.142857
West Ham           1.639098      1.443609
Wigan              1.260870      1.347826
Wolves             1.120301      0.857143
Wycombe            1.563218      1.211765

[79 rows x 8 columns]
Div
E0    7497
E1    5664
E2    5374
Name: TotalGoals, dtype: int64

C:\Users\gregs\AppData\Local\Temp\ipykernel_93368\2816611848.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  total_goals_per_div = df.groupby('Div').apply(lambda x: x['FTHG'].sum() + x['FTAG'].sum()).rename('TotalGoals')